<% unless @product_properties.empty? %>
  <div id="product_properties">
    <% @product_properties.each do |product_property| %>
      <div class="row">
        <div class="five columns prop-title"><%= product_property.property.presentation %></div>
        <div class="seven columns prop-value"><%= product_property.value %></div>
      </div>
    <% end %>

    <% reset_cycle('properties') %>
  </div>
<% end %>
