<div id="preorder-indicator" class="row">
  <div class="four columns">
    <div class="preorder-pill"><%= Spree.t(:preorder)%></div>
  </div>
  <div class="eight columns">
    <p>This product will ship within 4 - 6 weeks.</p>
  </div>
</div>
