#preorder-indicator {
  margin-top: 1vw;
  margin-bottom: 1vw;

  p {
    @include font-size(14px);
    line-height: 26px;
  }

  .preorder-pill {
    margin-right: 1vw;
    float: left;
  }

  @media only screen and (max-width: $smartphone) {
    .preorder-pill {
      width: 30%;
      margin-right: 3vw;
    }
    p {
      line-height: 120%;
    }
  }
}

.preorder-pill {
  border: 1px solid $tz-active;
  text-transform: uppercase;
  border-radius: 5px;
  color: $tz-active;
  padding: 0.5vw;

  @media only screen and (max-width: $smartphone) {
    padding: 1.5vw;
  }

  text-align: center;
  @include font-size(12px);

  &.products {
    @include font-size(11px);
    border-color: $tz-content;
    color: $tz-content;
  }
}

#products-preorder {
  margin-top: 10px;
}
