<%= stylesheet_link_tag 'layouts/cant_decide', media: 'all' %>

<div id="cant-decide"  class="u-full-width">
  <div class="container">
    <div class="content">
      <h1>Still can't decide?</h1>
      <p>Visit one of our retailers (who can also help you with your prescription) or book a personal try on and <span class="bold">we'll bring the entire range to you for free</span> with no obligation to buy.</p>
      <a href="/book-try-on"><button id="try-on">book personal try on</button></a>
      <a href="/retail"><button class="alternate" id="retailers">view our retailers</button></a>
    </div>
  </div>
</div>
