<%= javascript_include_tag 'layouts/site_footer', :defer => "defer" %>

<footer>
  <div class="container">
    <div class="row">
      <!-- mailing list column -->
      <div class="six columns">
        <p class="footer-head">sign up for news</p>

        <div id="footer-subhead">
          <p>Receive news about our creations, spaces, invitations and other interesting things.</p>
        </div>

        <div id="footer-signup">
          <form action="https://tzukuri.createsend.com/t/d/s/pjrhli/" method="post" id="subForm">
            <input id="fieldEmail" name="cm-pjrhli-pjrhli" type="email" placeholder="email address" required />
            <button type="submit" class="alternate">&rarr;</button>
          </form>
        </div>
      </div>
      <!-- site directions column -->
      <div class="six columns">
        <p class="footer-head">site directions</p>

        <div id="sitemap">
          <a href="/unlosable-glasses">unlosable glasses</a> |
          <a href="/the-range">range</a> |
          <a href="/intelligently-made">story</a> |
          <a href="/shop">store</a> |
          <a href="/retail">retail</a> |
          <a href="/press">press</a>
          <br/>
          <a href="/team">team</a> |
          <a href="/careers">careers</a> |
          <a href="http://help.tzukuri.com">help</a> |
          <a href="/users/password/new">forgot password</a> |
          <a href="/contact-us">contact</a> |
          <a href="/privacy">privacy</a> |
          <a href="/legal">legal</a>
        </div>

        <div id="social-links">
          <a href="https://instagram.com/tzukuri" target="_blank"><i class="fa fa-2x fa-instagram"></i></a>
          <a href="https://facebook.com/tzukuri" target="_blank"><i class="fa fa-2x fa-facebook"></i></a>
          <a href="https://twitter.com/tzukuri" target="_blank"><i class="fa fa-2x fa-twitter"></i></a>
        </div>
      </div>
    </div>

    <hr/>

    <!-- footer bottom -->
    <div class="row" id="footer-bottom">
      <div class="ten columns">
        <% if params[:page] == 'unlosbale-glasses' %>
          <p id="quote">'Nothing can have value without being an object of utility.' <span class="bold">Karl Marx</span></p>
        <% elsif params[:page] == 'design-and-range' %>
          <p id="quote">'Design is a solution to a problem. Art is a question to a problem.' <span class="bold">John Maeda</span></p>
        <% elsif params[:page] == 'try-them-on' %>
          <p id="quote">'Who looks outside, dreams; who looks inside, awakes.' <span class="bold">Carl Jung</span></p>
        <% elsif params[:page] == 'intelligently-made' %>
          <p id="quote">‘Whatever it is you do, you have to master your craft.’ <span class="bold">Snoop Dogg</span></p>
        <% else %>
          <p id="quote">'Seeking means having a goal. But finding means, being free, being open, having no goal.' <span class="bold">Herman Hesse</span></p>
        <% end %>
      </div>
      <div class="two columns">
        <p id="copy">&copy; Tzukuri 2017</p>
      </dvi>
    </div>
  </div>
</footer>
