<%= stylesheet_link_tag 'layouts/tech_specs', media: 'all' %>

<div class="u-full-width" id="specifications">
  <div class="container">
    <h1>Technical specifications</h1>
    <div class="row">
    <div class="four columns">
      <!--  whats included -->
      <article>
        <p class="bold">What's Included</p>
        <ul>
          <li>Unlosable glasses</li>
          <li>Charging cable</li>
          <li>Charging dock</li>
          <li>Microfibre cleaning cloth</li>
          <li>Documentation</li>
        </ul>
      </article>

      <!-- battery and power -->
      <article>
        <p class="bold">Battery and Power</p>
        <p>
          Battery life up to 30 days. Battery life and charge cycles vary with use, settings, and other factors; actual results will vary. The Tzukuri app will notify you when your glasses require charging.
        </p>
        <ul>
          <li>Battery type: Silver Oxide</li>
          <li>Charge time: Three to four hours</li>
        </ul>
      </aticle>
    </div>
    <div class="four columns">

      <!-- materials -->
      <article>
        <p class="bold">Materials</p>
        <ul>
          <li>Frames: High quality, precision-milled cellulose acetate.</li>
          <li>Non-Prescription Sun: Brown polarised, hand cut, 100% UV protection.</li>
          <li>Prescription Sun: Brown polarised single vision, hand cut, 100% UV protection, back anti-reflective coating, hard coat.</li>
          <li>Prescription Optical: single vision, hand cut, back anti-reflective coating, hard coat.</li>
        </ul>
      </article>

      <!-- environmental requirements -->
      <article>
        <p class="bold">Environmental Requirements</p>
        <ul>
          <li>Operating temperature: <span class="nobr">-10° to 45° C</span></li>
          <li>Maximum operating altitude: 9,144m</li>
          <li>IP68 waterproof and dust resistant</li>
        </ul>
      </article>
    </div>
    <div class="four columns">


      <!-- syncing and notifications -->
      <article>
        <p class="bold">Bluetooth and Notifications</p>
        <p>Each pair of Tzukuris connect to your iPhone using wireless Bluetooth Low Energy. Some features will require you to grant access to Location Services, Notifications and Motion &amp; Fitness to function correctly. </p>
        <ul>
          <li>Bluetooth range: Up to 15m</li>
          <li>Requires iPhone 5 or later running iOS 9 and above.</li>
          <li>Compatible with: iPhone 5, iPhone 5C, iPhone SE, iPhone 6, iPhone 6 Plus, iPhone 6s, iPhone 6s Plus, iPhone 7, iPhone 7 Plus</p>
        </ul>
      </article>
    </div>
  </div>
  </div>
</div>
