<%= stylesheet_link_tag 'layouts/whats_included', media: 'all' %>

<div class="u-full-width" id="in-the-box">
  <div class="container">
    <h1>What's included</h1>
    <div class="row">
      <div class="four columns">
        <%= image_tag 'glasses.png', id: 'unlosable' %>
      </div>
      <div class="four columns">
        <%= image_tag 'microfibre.png', id: 'cloth' %>
      </div>
      <div class="four columns">
        <%= image_tag "dock_cable.png", id: 'charge' %>
      </div>
    </div>

    <div class="row">
      <div class="four columns">
        <p class="bold">Unlosable Glasses</p>
      </div>
      <div class="four columns">
        <p class="bold">Microfibre Cloth</p>
      </div>
      <div class="four columns">
        <p class="bold">Charger & Cable</p>
      </div>
    </div>
  </div>
</div>
