<div id="taxons">
  <div class="hero taxon <%= @taxon.name.downcase %>">
    <div class="bg photo"></div>
    <div class="bg shade"></div>
    <div class="container content">
      <h1><%= @taxon.name %></h1>
    </div>
  </div>

  <div data-hook="taxon_products">
    <%= render partial: 'spree/shared/products', locals: { products: @products, taxon: @taxon } %>
  </div>

  <% unless params[:keywords].present? %>
    <div data-hook="taxon_children">
      <% cache [I18n.locale, @taxon] do %>
        <%= render partial: 'taxon', collection: @taxon.children %>
      <% end %>
    </div>
  <% end %>
</div>
