<div  id="order_confirm" data-hook>
  <h2>Order Confirmation</h2>
  <%= render partial: 'spree/shared/order_details', locals: { order: @order } %>
</div>

<div class="well text-right form-buttons" data-hook="buttons">
  <%= button_tag(type: 'submit') do %>
   <i class="fa fa-lock" style="margin-right: 20px; margin-left:0px;"></i>Place order
  <% end %>
  <script>Spree.disableSaveOnClick();</script>
</div>
